#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.merge-left*
*.merge-right*
*.mine
*.o
*.obj
*.olb
*.old
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.working
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
svn-commit*.tmp
.~lock
.get
build
.gradle
bin
*.iml
*.ipr
*.iws
.project
.classpath
cobertura.ser
db
test.out
a.out
*.documents
timestamp.out
error.log
acceptance-tests/stories/files/
.idea
out
target
.settings
acceptance-tests/stories/played/cud/files
exception.details
acceptance-tests/index.html
